---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { issues(first: 2) { nodes { id title } } }","variables":{"first":2}}'
    headers:
      Authorization:
      - invalid-token-401
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Authentication required","extensions":{"code":"UNAUTHENTICATED"}}]}'
  recorded_at: Thu, 20 Jun 2025 10:00:00 GMT
recorded_with: VCR 6.1.0
