---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { invalid_field_that_does_not_exist }"}'
    headers:
      Authorization:
      - <LINEAR_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Cannot query field \"invalid_field_that_does_not_exist\" on type \"Query\".","locations":[{"line":1,"column":9}],"extensions":{"code":"GRAPHQL_VALIDATION_FAILED"}}]}'
  recorded_at: Thu, 20 Jun 2025 09:01:00 GMT
recorded_with: VCR 6.1.0
