---
http_interactions:
- request:
    method: post
    uri: https://api.linear.app/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query { issues(first: 2) { nodes { id title } } }","variables":{"first":2}}'
    headers:
      Authorization:
      - test-token-123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"issues":{"nodes":[{"id":"issue-post-1","title":"Post Request Issue 1"},{"id":"issue-post-2","title":"Post Request Issue 2"}]}}}'
  recorded_at: Thu, 20 Jun 2025 10:00:00 GMT
recorded_with: VCR 6.1.0
